@model IEnumerable<StajAppCore.Models.MenuItem>
@using StajAppCore.Helpers;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/Vue/vue.js"></script>
    <script src="~/lib/Vue/axios.min.js"></script>
    <script src="~/lib/jquery/jquery-3.3.1.js"></script>
</head>
<body>

    <div id="App">
        <transition name="component-fade" mode="out-in">
            <div id="MsgWindow" v-if="onDisplay" class="modal fade show" style="padding-right: 17px; display: none;" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body tabs-collor" style="background: #343a40;">
                            <div class="form-group">
                                <h3>{{msg.message}}</h3>
                                <ul>
                                    <li v-for="(item, i) in msg.information">{{item}}</li>
                                </ul>
                                <button class="btn btn-info" v-on:click="onDisplay = false">Хорошо</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <nav class="navbar navbar-expand-lg navba-dark bg-dark">
            <div class="container">
                <a href="@Url.RouteUrl(new { controller = "Main", action = "Index" })" class="navbar-brand">
                    <img src="~/images/Logo.ico" width="40" height="40" alt="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <img src="~/images/MenuButton.png" width="30" height="30" alt="logo" />
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    @Html.BuildMenu(Model)

                    @{await Html.RenderPartialAsync("_Autentication");}
                </div>
            </div>
        </nav>

        <div class="container">
            <transition name="component-fade" mode="out-in">
                <component v-bind:is="currentView"></component>
            </transition>
        </div>

        <div class="ds-n">
            <div id="Controller">@ViewData["Controller"]</div>
            <div id="Method">@ViewData["Method"]</div>
        </div>
    </div>

    @RenderBody()    

    <footer>
        
    </footer>

    <script src="~/js/RootComponent.js"></script>
    <script src="~/lib/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
